.dashboard_container {
  margin-top: -50px;
}
.dashboard_container {
  display: grid;
  grid-template-columns: 250px auto;
}
.dashboard_tab_profile {
  display: flex;
  gap:15px;
  margin-bottom: 20px;
  align-items: center;
}
.dashboard_tab_profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dashboard_tab_profile_info h4 {
  font-size: 14px;
  font-weight: 500;
}
.dashboard_tab_profile_info span {
  font-size: 12px;
  display: block;
}
.dashboard_tab_container button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  font-weight: 500;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard_tab_container button:hover {
  background: rgba(0, 0, 0, 0.07);
}
.dashboard_tab_container button .icon {
  width: 20px;
  margin-right: 15px;
}
.dashboard_tab_container button.active_tab {
  background: rgba(0, 0, 0, 0.05);
}
.dashboard_tab_divider {
  width: 100%;
  height: 2px;
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.dashboard_sections {
  padding-top: 15px;
  padding-left: 40px;
}

.dashboard_sections_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.dashboard_sections_header form {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.dashboard_sections_header form input {
  padding: 5px 15px;
}
.dashboard_sections_header form button {
  padding: 0 15px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard_main_heading {
  font-size: 18px;
  font-weight: 500;
}






.accounts_form_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  margin-bottom: 40px;
}
.accounts_form_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap:20px;
}
.accounts_form_element input:read-write {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}
.accounts_form_element .icon {
  width: 20px;
}
.accounts_form_element_profile_pic {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.accounts_form_element_profile_pic label {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.15);
}
.accounts_profile_pic {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  margin-right: 42px;
}
#upload_profile_pic {
  width: 0;
  height: 0;
  opacity: 0;
}



.accounts_form_element_label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}
.accounts_form_element button[type=submit] {
  background: rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
}
.accounts_form_element > div {
  width: 100%;
  max-width: 400px;
}
.accounts_form_element .input_element {
  border: 1.5px solid #B0B0B0;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
}
.accounts_form_element .input_element::placeholder {
  font-size: 14px;
  color: #B0B0B0;
}



.dashboard_sections_header_with_tabs {
  width: 100%;
  border-bottom: 1.5px solid #B0B0B0;
}
.dashboard_sections_header_with_tabs button {
  padding: 15px 0;
  padding-top: 0;
  margin-right: 20px;
  font-size: 14px;
}
.dashboard_sections_header_with_tabs button.active_tab {
  font-weight: 500;
  border-bottom: 1.5px solid #000;
  position: relative;
  top: 1.5px;
}
.dashboard_sections_4cols {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0;
}
.dashboard_sections_4cols-col > div {
  border: 1px solid rgba(0,0,0,0.05)

}






.dashboard_table_container table {
  width: 100%;
}
.dashboard_table_container th {
  width: auto;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  padding-right: 40px;
}
.dashboard_table_container thead{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.dashboard_table_container td {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0;
  padding-right: 40px;
  color: #5E5E5E;
}
.dashboard_table_desc_col {
  display: flex;
  align-items: center;
  gap:15px;
}
.dashboard_table_desc_icon {
  width: 40px;
}
.dashboard_table_desc_col h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.dashboard_table_desc_col span {
  font-size: 10px;
  display: block;
  margin-top: 5px;
}
.dashboard_table_container button {
  background: rgba(0, 0, 0, 0.15);
  color: black;
  padding: 5px 15px;
}



.share_cv_btn {
  background: rgba(0, 0, 0, 0.15);
  color: black;
  padding: 5px 15px;
}




.services_container {
  display: flex;
  flex-wrap: wrap;
  gap:40px;
}
.services_card {
  flex: 0 0 200px;
  position: relative;
  border-radius: 5px;
}
.overlay_action_container {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
}
.overlay_action_container button {
  width: 120px;
  padding: 6px;
  background: #B2B2B2;
  border-radius: 4px;
}
.services_card:hover .overlay_action_container {
  display: flex;
}





.your_subcription_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


.your_subcription_container .dashboard_table_desc_icon {
  width: 60px;
}
.your_subcription_container .dashboard_table_desc_col h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.your_subcription_container .dashboard_table_desc_col span {
  font-size: 10px;
  display: block;
  margin-top: 5px;
}
.your_subcription_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.your_subcription_actions button {
  width: 120px;
  padding: 6px;
  background: #B2B2B2;
  border-radius: 4px;
}



.action_btn {
  min-width: 120px;
  padding: 6px;
  background: #B2B2B2;
  border-radius: 4px;
}



.team_card {
  display: flex;
  align-items: center;
  gap:35px;
  max-width: 1000px;
  margin-bottom: 40px;
}
.team_img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.team_name {
  font-size: 20px;
  font-weight: 500;
}
.team_title {
  font-size: 14px;
}
.team_services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
.team_services span {
  font-size: 10px;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 10px;
}
.team_action {
  margin-left: auto;
}
