header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
}

.header_logo {
  padding: 15px 0;
}
.header_logo img {
  height: 60px;
}

.header_noauth_links a {
  font-size: 16px;
  margin-left: 20px;
  color: #020069;
  font-weight: 500;
  transition: 0.5s;
}

a.header_login_btn {
  background: #F9BB04;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 25px;
  letter-spacing: 0.5px;
}
