@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border:none;
  background: inherit;
}
input {
  width: 100%;
  border: none;
  outline:none;
}
img {
  width: 100%;
}

body {
  padding-top: 140px;
  padding-bottom: 140px;
}
.pd {
  padding: 0 100px;
}
.pd-left {
  padding-left: 0 100px;
}
.pd-right {
  padding-right: 0 100px;
}
